$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$canvas-size-small: 300px;
$canvas-size-medium: 400px;

$text-color: #424242;
$primary: #673AB7;



// DEPRECATED
$color-primary: #37474F;
$color-primary-light: #455A64;
$color-primary-very-light: #546E7A;
$color-primary-dark: #263238;
$color-text: #ECEFF1;
$color-text-disabled: #90A4AE;
$color-accent: #D32F2F;
