$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$canvas-size-small: 300px;
$canvas-size-normal: 500px;

html, body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
  font-size: 48px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}


header, section, footer {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  color: #828282;
}

#canvas, #filePickerOverlay {
  height: $canvas-size-small;
  width: $canvas-size-small;
  @media screen and (min-width: $screen-sm-min) {
    height: $canvas-size-normal;
    width: $canvas-size-normal;
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#filePickerOverlay {
  background-size: $canvas-size-small $canvas-size-small;
  @media screen and (min-width: $screen-sm-min) {
    background-size: $canvas-size-normal $canvas-size-normal;
  }
  cursor: pointer;
}

.filePickerOverlay-not-selected {
  background-image: url('../filePickerOverlayBackground.svg');
}

.filePickerOverlay-selected {
  background-image: url('../filePickerOverlayBackgroundSelected.svg');
}

#filePickerOverlayContent {
  width: 220px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #616161;
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  };
  p {
    font-size: 14px;
  };
}

#filePicker {
  display: none;
  height: 0;
}


#section-edit {
  display: none;
  .row {
    padding-top: 25px;
    padding-bottom: 25px;
  };
  h3 {
    margin-top: 0;
  };
  .push-down {
    margin-top: 6px;
  };
}


.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px;
}


#slider-shadow {
}
#slider-shadow-id {
  width: 100%;
  .slider-track-low, .slider-track-high {
    background: #e0e0e0;
  }
  .slider-selection {
    background: #9575CD;
  }
  .slider-handle {
    background: #673AB7;
  }
}


.card {
  background: white;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 1px 15px 10px 14px;
}
