@import 'constants';

$controls-padding: 20px;
$canvas-transition-time: 0.5s;

#container-edit {
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;

  padding: $controls-padding;
  background-color: $color-primary;
  #container-canvas-draw-parent {
    padding-left: 5px;

    .about {
      border-radius: 4px;
      position: absolute;
      right: $controls-padding + 10px;
      padding: 6px 10px;
      background: $color-primary;
      font-size: 16px;
      text-align: center;
      transition: 0.3s;
      color: $color-text-disabled;
      text-decoration: none;
      &:hover {
        background: $color-accent;
        color: $color-text;
      }
      strong {
        color: $color-text;
      }
    }
  }
  #about-homepage {
    bottom: $controls-padding - 4px;
  }
  #about-github {
    bottom: $controls-padding + 40px;
    strong {
      font-size: 14px;
    }
  }


  #container-canvas-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-light;
    border-radius: 4px;

    #container-canvas-draw-wrapper {
      display: inline-block;
      position: relative;
      width: 50%;
      &:after {
        padding-top: 100%;
        display: block;
        content: '';
      }

      #canvas-draw {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $canvas-transition-time;
      }
    }

  }
  #container-controls-parent {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    background-color: $color-primary;

    #container-controls {
      overflow: hidden;
    }

    #btn-download-svg {
      border-radius: 4px;
      background: $color-accent;
      color: white;
      border: none;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        background: $color-primary-dark;
        color: $color-accent;
      }
      &:focus {
        outline: 0;
      }
    }

    #container-controls {
      .controls-entry{
        margin: 0 $controls-padding 10px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 15px;
        h3 {
          color: $color-text-disabled;
          font-weight: bold;
          margin: 0 0 10px;
          font-size: 14px;
        };
        .color-input-group {
          input, span {
            background: $color-primary-light;
            border: none;
            color: $color-text-disabled;
            box-shadow: none;
          }
        }
        h3, .color-input-group, .radio-inline label span {
          transition: 0.3s;
        }
        &:hover h3, &:hover .color-input-group input, &:hover .toggle-off, a:hover label * {
          color: $color-text;
        }
      }
      #download-container {
        margin: 10px 0 $controls-padding;
      }
      #banner-collapsible-container {
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;
      }
    }
  }

  .colorpicker {
    background-color: $color-primary-very-light;
    border-radius: 2px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-color: $color-primary-very-light;
    &::before, &::after {
      border-bottom-color: $color-primary-very-light;
    }
  }


  .toggle {
    border: none;
    border-radius: 4px;
    padding-left:  5px;
    padding-right:  5px;
    box-shadow: none;
    background: transparent !important;
    .toggle-handle {
      border-radius: 0;
      background: $color-primary-very-light;
      border: none;
      box-shadow: none;
    }
    .toggle-on {
      border: none;
      box-shadow: none;
      background: $color-accent;
      color: $color-text;
      &:active {
        background-color: $color-accent;
      }
    }
    .toggle-off {
      border: none !important;
      background-color: $color-primary-light !important;
      color: $color-text-disabled !important;
      text-shadow: none;
      transition: 0.3s;
      box-shadow: none;
      -webkit-box-shadow: none;
      stroke-width: 0  !important;
    }
  }



  input[type='radio'] {
    display: none;
  }
  input[type='radio'] + label {
    color: $color-text-disabled;
    cursor: pointer;
  }
  input[type='radio'] + label span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    border: 4px solid $color-primary-light;
  }
  input[type='radio'] + label span:nth-child(2) {
    margin-left: 25px;
    font-weight: normal;
  }
  input[type='radio']:checked + label span:nth-child(1) {
    border-color: $color-accent;
  }
  .radio-inline {
    padding-left: 0;
    &:nth-child(3) {
      margin-left: 30px;
    }
  }




  #slider-shadow-length-id, #slider-shadow-intensity-id, #slider-shadow-fading-id, #slider-icon-size-id {
    width: 100%;
    .slider-track {
      background-image: none;
    }
    .slider-handle {
      background: $color-primary-very-light;
      box-shadow: none;
    }
    .slider-selection {
      background: $color-accent;
    }
    .slider-track-high, .slider-track-low {
      background: $color-primary-light;
    }
    .tooltip {
      .tooltip-arrow {
        border-top-color: #263238;
      }
      .tooltip-inner {
        background-color: #263238;
      }
    }
  }



  #canvas-loading {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 80px;
    color: $color-text;
    text-align: center;
    transition: opacity $canvas-transition-time;
    opacity: 1;
  }


  .glyphicon-refresh-animate {
    animation: spin 3s infinite linear;
    -webkit-animation: spin2 3s infinite linear;
    -moz-animation: spin3 3s infinite linear;
  }

  @-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes spin3 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
  }

  @keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
  }


  // sidebar
  @media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
    }
    .row-offcanvas-right {
      left: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
      left: -82%; // otherwise scrollbar becomes slightly visible
    }
    .row-offcanvas-right.active .sidebar-offcanvas {
      left: 0;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 80%;
      padding-top: 60px !important;
    }
  }
  .sidebar-menu {
    top: 5px;
    left: 10px;
    right: auto !important;
    cursor: pointer;
    z-index: 100;
    i {
      color: white;
    }
  }
}
