@import 'constants';

$mdpi: 48px;

#canvas-export-mdpi {
  width: $mdpi;
  height: $mdpi;
}

#canvas-export-hdpi {
  width: $mdpi * 1.5;
  height: $mdpi * 1.5;
}

#canvas-export-xhdpi {
  width: $mdpi * 2;
  height: $mdpi * 2;
}

#canvas-export-xxhdpi {
  width: $mdpi * 3;
  height: $mdpi * 3;
}

#canvas-export-xxxhdpi {
  width: $mdpi * 4;
  height: $mdpi * 4;
}

#canvas-export-playstore-icon {
  width: 512px;
  height: 512px;
}
