$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$canvas-size-small: 300px;
$canvas-size-medium: 400px;
$canvas-size-large: 500px;

$canvas-size-export: 48px;

$color-primary: #039BE5;
$color-primary-light: #81D4FA;
$color-primary-dark: #0277BD;
$color-accent: white;




html, body {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  margin-top: 30px;
  font-size: 48px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}


#canvas-draw, #filePickerOverlay {
  height: $canvas-size-small;
  width: $canvas-size-small;
  @media screen and (min-width: $screen-md-min) {
    height: $canvas-size-medium;
    width: $canvas-size-medium;
  }
  @media screen and (min-width: $screen-lg-min) {
    height: $canvas-size-large;
    width: $canvas-size-large;
  }
}

#filePickerOverlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#canvas-export {
  width: $canvas-size-export;
  height: $canvas-size-export;
}

#filePickerOverlay {
  background-size: $canvas-size-small $canvas-size-small;
  @media screen and (min-width: $screen-md-min) {
    background-size: $canvas-size-medium $canvas-size-medium;
  }
  @media screen and (min-width: $screen-lg-min) {
    background-size: $canvas-size-large $canvas-size-large;
  }
  cursor: pointer;
}

.filePickerOverlay-not-selected {
  background-image: url('../filePickerOverlayBackground.svg');
}

.filePickerOverlay-selected {
  background-image: url('../filePickerOverlayBackgroundSelected.svg');
}

.filePickerOverlayContent {
  width: 220px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #616161;
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  };
  p {
    font-size: 14px;
  };
}

#picker-content-loading {
  opacity: 0;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#filePicker {
  display: none;
  height: 0;
}


$controls-padding: 15px;

#container-edit {
  #container-canvas-draw {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container-controls-parent {
    background-color: $color-primary;
    #footer {
      color: $color-primary-light;
      text-align: center;
      font-size: 12px;
      a {
        color: $color-primary-light;
      }
      position: absolute;
      bottom: 0;
      left: $controls-padding;
      width: 100%;
      padding: $controls-padding;
    }
  }
  #container-controls {
    padding: $controls-padding;
    .controls-entry {
      padding-bottom: 30px;
      h3 {
        color: $color-accent;
        font-weight: bold;
        margin: 0 0 10px;
        font-size: 14px;
      };
      .color-input-group {
        input, span {
          background: $color-primary-light;
          border: none;
          color: $color-accent;
          box-shadow: none;
        }
      }
    }
    #btn-download-svg {
      border-radius: 4px;
      background: $color-accent;
      color: $color-primary;
      border: none;
      font-weight: bold;
      &:hover {
        background: $color-primary-dark;
        color: $color-accent;
      }
    }
  }
  display: none;
}


.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px;
}


.toggle {
  border: none;
  border-radius: 4px;
  padding-left:  5px;
  padding-right:  5px;
  .toggle-handle {
    border-radius: 0;
    background: $color-accent;
    border: none;
  }
  .toggle-on {
    background: $color-primary-dark;
  }
  .toggle-off {
    background-color: $color-primary-light;
    color: $color-accent;
    stroke-width: 0;
    &:hover {
      background-color: $color-primary-light;
      color: $color-accent;
      stroke-width: 0;
    }
  }
}


#slider-shadow-start-id, #slider-shadow-end-id, #slider-icon-size-id {
  width: 100%;
  .slider-handle {
    background: $color-primary-dark;
  }
  .slider-selection {
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .slider-selection, .slider-track-high, .slider-track-low {
    background: $color-primary-light;
  }
}
