@import 'constants';

$break-small-input: 1000px;
$break-tiny-input: 700px;

#container-input .section-1 {
  background-color: #D95750;
  background-image: url('/img/pattern.min.svg');
  background-repeat: no-repeat;
  background-size: cover;

  h1, h2 {
    text-align: center;
    color: white;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  h2 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;
    margin: 0;
  }

  .hero-card {
    background: white;
    text-align: center;
    border-radius: 2px;
    margin-top: 150px;
    @media screen and (min-width: $break-small-input) {
      margin-top: 200px;
    }
    @media screen and (min-width: $break-small-input) {
      margin-top: 300px;
    }
  }

  $hero-border-radius: 2px;

  .hero-top {
    min-height: 30px;
    @media screen and (min-width: $break-tiny-input) {
      min-height: 130px;
    }
    @media screen and (min-width: $break-small-input) {
      min-height: 100px;
    }
  }

  .hero-bottom {
    padding: 40px 20px 40px;

    .input-file-picker {
      display: none;
      height: 0;
    }
    .icon-input-file {
      cursor: pointer;
      @media screen and (min-width: $break-tiny-input) {
        border-style: dashed;
        border-color: #BDBDBD;
        border-width: 2px;
        border-radius: 6px;
      }
    }
    .icon-input {
      padding: 0;
      @media screen and (min-width: $break-tiny-input) {
        padding: 20px;
      }
      @media screen and (min-width: $break-small-input) {
        padding: 40px;
      }
    }
    .icon-input-or {
      font-style: italic;
      font-size: 22px;
      margin: 10px;
      @media screen and (min-width: $break-tiny-input) {
        margin-top: 5px;
        margin-bottom: -5px;
      }
      @media screen and (min-width: $break-small-input) {
        margin: 20px;
      }
    }
    .icon-input, .icon-input-or {
      display: inline-block;
    }
    .container-icon-input {
      display: block;
      @media screen and (min-width: $break-small-input) {
        display: inline-block;
      }
    }
  }

  .hero-msg {
    padding: 20px;
    background: #EEEEEE;
    p {
      font-style: italic;
      color: $text-color;
      margin: 0;
      a {
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        color: $text-color;
      }
    }
  }

  $icon-size-primary: 350px;
  $icon-size-primary-small: 250px;
  $icon-size-primary-tiny: 150px;

  $icon-size-secondary: 240px;
  $icon-size-secondary-small: 190px;
  $icon-size-secondary-tiny: 100px;

  $icon-offset-primary: -50px;
  $icon-offset-primary-small: -50px;

  $icon-offset-secondary: $icon-offset-primary - 70px;
  $icon-offset-secondary-small: $icon-offset-primary-small - 30px;
  .img-center {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: -$icon-offset-primary-small;
    margin-left: -$icon-size-primary-tiny / 2;
    width: $icon-size-primary-tiny;
    @media screen and (min-width: $break-tiny-input) {
      margin-left: -$icon-size-primary-small / 2;
      width: $icon-size-primary-small;
    }
    @media screen and (min-width: $break-small-input) {
      top: -$icon-offset-primary;
      margin-left: -$icon-size-primary / 2;
      width: $icon-size-primary;
    }
  }
  .img-left {
    position: absolute;
    z-index: 99;
    top: -$icon-offset-secondary-small;
    left: calc(50% - 100px);
    margin-left: -$icon-size-secondary-tiny / 2;
    width: $icon-size-secondary-tiny;
    @media screen and (min-width: $break-tiny-input) {
      left: calc(50% - 170px);
      margin-left: -$icon-size-secondary-small / 2;
      width: $icon-size-secondary-small;
    }
    @media screen and (min-width: $break-small-input) {
      top: -$icon-offset-secondary;
      left: calc(50% - 230px);
      margin-left: -$icon-size-secondary / 2;
      width: $icon-size-secondary;
    }
  }
  .img-right {
    position: absolute;
    z-index: 99;
    top: -$icon-offset-secondary-small;
    left: calc(50% + 100px);
    margin-left: -$icon-size-secondary-tiny / 2;
    width: $icon-size-secondary-tiny;
    @media screen and (min-width: $break-tiny-input) {
      left: calc(50% + 170px);
      margin-left: -$icon-size-secondary-small / 2;
      width: $icon-size-secondary-small;
    }
    @media screen and (min-width: $break-small-input) {
      top: -$icon-offset-secondary;
      left: calc(50% + 230px);
      margin-left: -$icon-size-secondary / 2;
      width: $icon-size-secondary;
    }
  }
  .btn-primary {
    margin-left: 10px;
    margin-right: 10px;
  }
}
