@import 'constants';


$text-color: #424242;
$primary: #673AB7;
$primary-dark: #512DA8;

#container-input {
  background: #EEEEEE;
  height: 100%;

  .row {
    margin: 0;
  }

  .btn-primary {
    background-color: $primary;
    border: none;
    padding: 15px 20px;
    @media screen and (min-width: $screen-sm-min) {
      padding: 15px 40px;
    }
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
    transition-duration: 300ms;
    &:hover {
      background-color: $primary-dark;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .container {
    max-width: 1000px;
  }

  .navbar-default {
    background-color: white;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .navbar-brand a {
    text-decoration: none;
    color: #B71C1C;
  }

  .navbar-nav li {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 300ms;
    &:hover {
      background: #EEEEEE;
    }
  }

}
