@import 'constants';

#container-input .section-4 {
  background: #EEEEEE;
  padding-bottom: 60px;

  .attribution {
    font-style: italic;
    color: #BDBDBD;
    padding-top: 100px;
    padding-bottom: 20px;
    a {
      color: #BDBDBD;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icon-picker-icons-column {
    $icon-cols-min: 2;
    $icon-cols-max: 9;
    $icon-col-width: 150px;
    $icon-col-height: 140px;
    $icon-col-margin: 5px;
    $icon-cols-width: $icon-cols-min * $icon-col-width;
    @while $icon-cols-width < $icon-col-width * $icon-cols-max {
      @media screen and (min-width: $icon-cols-width + 20px) { // space for scroll bar
        width: $icon-cols-width;
      }
      $icon-cols-width: $icon-cols-width + $icon-col-width;
    }

    min-width: $icon-cols-min * $icon-col-width;
    max-width: $icon-cols-max * $icon-col-width;
    margin: 0 auto;
    overflow: auto;
    display: block;

    .container-icon-anchor {
      float: left;
      text-align: center;
      color: black;
      cursor: pointer;
      height: $icon-col-height - 2 * $icon-col-margin;
      width: $icon-col-width - 2 * $icon-col-margin;
      margin: $icon-col-margin;
      border-radius: 2px;

      .container-icon-inner {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        .icon-title {
          margin-top: 10px;
          padding-bottom: 10px;
          font-size: 10px;
          color: #757575;
        }

        .material-icons {
          margin-top: 10px;
          font-size: 40px;
          color: #757575;
        }
      }

      &:hover {
        background: $primary;
        .material-icons, .icon-title {
          color: white;
        }
      }
    }
  }

  .hr-icons {
    background: #E0E0E0;
    padding: 0;
    border: 0;
    height: 1px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }

  .category-title {
    text-transform: capitalize;
    margin-top: 60px;
    margin-bottom: 30px;
    color: $text-color;
    font-size: 30px;
    font-weight: bold;
  }
}
