$color-text: #212121;
$color-selection: #E0E0E0;

#container-icons {
  a:hover, a:active, a:visited {
    text-decoration: none;
  }
}

.container-icon-anchor {
  .container-icon {
    text-align: center;
    color: black;
    cursor: pointer;
    height: 120px;
    width: 110px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:hover {
      background: $color-selection;
    }

    .container-icon-inner {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      .icon-title {
        margin-top: 10px;
        font-size: 10px;
        color:  $color-text;
      }
    }
  }
}

.hr-icons {
  background: $color-selection;
  padding: 0;
  border: 0;
  height: 1px;
  width: 90%;
  text-align:center; margin: 80px auto;
}


.category-title {
  text-transform: capitalize;
  margin-bottom: 30px;
  color: $color-text;
}


// creates a layout with 9 columns and this class only spanning one
@media (min-width: 992px) {
  .col-md-1-from-9 {
    width: 11.11%;
    float: left;
  }
}


#template-category, #template-icon, #template-hr {
  display: none;
}
