doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title Material Icon Generator

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(type='text/javascript', src='js/index.js')
        script(type='text/javascript', src='js/vendor.js')

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')

        link(rel='stylesheet', href='css/index.css')

    body
        include ./templates/editor.static.jade
        include ./templates/input.static.jade

    script.
        require('js/index/app').init();
