
<section id="container-error" class="full-height full-width">
	<div id="container-error-content">
		<div id="container-error-content-inner">
			<div id="error-icon"><i class="material-icons">warning</i></div>
			<div id="error-text">
				<p id="error-title">No path found</p>
				<p id="error-msg-1" class="error-msg">Make sure that your SVG file looks something like this:</p>
				<p id="error-msg-2" class="error-msg">&lt;svg&gt;&lt;path ... /&gt;&lt;/svg&gt;</p>
			</div>
			<div id="error-help">
				<p class="error-msg"><strong>Not working?</strong><span> Send us an email to<a href="mailto:material-icons@bitdroid.de"> material-icons@bitdroid.de</a>, we are happy to help! :)</span></p>
			</div>
		</div><span id="error-close" aria-hidden="true" class="glyphicon glyphicon-remove"></span>
	</div>
</section>