@import 'constants';


#container-input {
  transition: 0.5s; // slide page down time
  background-color: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;

  .row {
    margin: 0;
  }

  .input-title {
    color: $color-text;
    font-weight: bold;
    font-size: 20px;
    @media screen and (min-width: $screen-lg-min) {
      font-size: 28px;
    }
  }
  .input-subtitle {
    color: $color-text-disabled;
    font-size: 16px;
    @media screen and (min-width: $screen-lg-min) {
      font-size: 20px;
    }
    a {
      color: $color-text-disabled;
    }
  }


  #container-file-picker, #input-or, #container-icon-selector {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }


  #container-file-picker {
    height: $canvas-size-small;
    width: $canvas-size-small;
    @media screen and (min-width: $screen-lg-min) {
      height: $canvas-size-medium;
      width: $canvas-size-medium;
    }
    padding: 25px;
    border-radius: 400px;
  }

  #container-file-picker:hover #filePickerOverlay, .container-file-picker-hovered #filePickerOverlay {
    border-color: $color-text;
  }


  #filePickerOverlay {
    height: $canvas-size-small - 50px;
    width: $canvas-size-small - 50px;
    background-size: $canvas-size-small $canvas-size-small;
    @media screen and (min-width: $screen-lg-min) {
      height: $canvas-size-medium - 50px;
      width: $canvas-size-medium - 50px;
      background-size: ($canvas-size-medium - 50px) ($canvas-size-medium - 50px);
    }
    cursor: pointer;
    border: 3px dashed $color-primary-light;
    border-radius: 400px;
  }

  .filePickerOverlayContent {
    width: 220px;
    @media screen and (min-width: $screen-lg-min) {
      width: 280px;
    }
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #filePicker {
    display: none;
    height: 0;
  }


  #container-icon-selector {
    text-align: center;
    cursor: pointer;
    height: 260px;
    width: 440px;
    padding: 50px;
    border-radius: 5px;

    .icon-selector-sample {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 5px;
    }

    .icon-selector-sample:nth-child(1) { background-image: url('../input_icon_android.svg'); }
    .icon-selector-sample:nth-child(2) { background-image: url('../input_icon_bug.svg'); }
    .icon-selector-sample:nth-child(3) { background-image: url('../input_icon_favorite.svg'); }
    .icon-selector-sample:nth-child(4) { background-image: url('../input_icon_thumb_up.svg'); }
    .icon-selector-sample:nth-child(5) { background-image: url('../input_icon_directions_bike.svg'); }
    .icon-selector-sample:nth-child(6) { background-image: url('../input_icon_child_friendly.svg'); }

    &:hover {
      .icon-selector-sample:nth-child(1) { background-image: url('../input_icon_white_android.svg'); }
      .icon-selector-sample:nth-child(2) { background-image: url('../input_icon_white_bug.svg'); }
      .icon-selector-sample:nth-child(3) { background-image: url('../input_icon_white_favorite.svg'); }
      .icon-selector-sample:nth-child(4) { background-image: url('../input_icon_white_thumb_up.svg'); }
      .icon-selector-sample:nth-child(5) { background-image: url('../input_icon_white_directions_bike.svg'); }
      .icon-selector-sample:nth-child(6) { background-image: url('../input_icon_white_child_friendly.svg'); }
    }
  }


  #input-or {
    width: 30px;
    height: 30px;
    color: $color-text;
    font-size: 30px;
    font-style: italic;
  }


  #container-icon-selector:hover, #container-file-picker:hover, .container-file-picker-hovered {
    background: $color-accent;
    .input-title, .input-subtitle {
      color: $color-text;
      a {
        color: $color-text;
      }
    }
  }


}

#container-input * {
  transition: 0.3s;
}
