// input
section#container-about.full-width
    p.text-center.full-width Software made in Erlangen, Germany
    p.text-center.full-width by&nbsp;
        a(href='http://bitdroid.de') Philipp Eichhorn
    p.text-center.full-width
        i.material-icons favorite
