section#container-error.full-height.full-width
    #container-error-content
        #container-error-content-inner
            #error-icon
                i.material-icons warning
            #error-text
                p#error-title No path found
                p#error-msg-1.error-msg Make sure that your SVG file looks something like this:
                p#error-msg-2.error-msg &lt;svg&gt;&lt;path ... /&gt;&lt;/svg&gt;
        span#error-close.glyphicon.glyphicon-remove(aria-hidden='true')
