// input
section#container-input.container-fluid.full-height(data-simplebar-direction='vertical')

    .row.full-height

        // github ribbon
        a.github-fork-ribbon.right-top(href='https://github.com/Maddoc42/MaterialIconsGenerator', title='View on GitHub') View on GitHub

        // file picker
        .col-4-from-9.full-height
            #container-file-picker
                input#file-picker-input(type='file')
                #file-picker-overlay
                    #file-picker-overlay-content
                        p.input-title Drop SVG icon here
                        p.input-subtitle SVG must contain a single path which is your icon.

        // or
        .col-1-from-9.full-height
            #input-or
                | or

        // icon selector
        .col-4-from-9.full-height
            #container-icon-selector
                p.input-title Pick an icon from below
                p.input-subtitle
                    | All icons copied from the
                    a(href='https://design.google.com/icons/')  Google Material icons collection.
                .row
                    p.text-center
                        i.material-icons.icon-selector-sample android
                        i.material-icons.icon-selector-sample bug_report
                        i.material-icons.icon-selector-sample favorite
                        i.material-icons.icon-selector-sample thumb_up
                        i.material-icons.icon-selector-sample directions_bike
                        i.material-icons.icon-selector-sample child_friendly
                a(href='#icon-picker')
                    span

    // sample material icons
    include ./input-icon-picker.static.jade
